//Deck 8

#deck-8 {
	.room-container {
		height: 2.2rem;
		width: 5.5rem;
	}
}

#room-8001 {
	top: 169px;
	left: 419px;
	height: 4.7rem!important;
	width: 2.3rem!important;
	.rotate-room(30%, -10%);
}
#room-8002 {
	top: 169px;
	left: 490px;
	height: 4.7rem!important;
	width: 2.3rem!important;
	.rotate-room(30%, -10%);
}
#room-8003 {
	top: 169px;
	left: 387px;
	height: 4.7rem!important;
	width: 3.4rem!important;
	.rotate-room(30%, 8%);
}
#room-8004 {
	top: 169px;
	left: 511px;
	height: 4.7rem!important;
	width: 3.4rem!important;
	.rotate-room(30%, 8%);
}
#room-8005 {
	top: 203px;
	left: 324px;
}
#room-8006 {
	top: 203px;
	left: 552px;
}
#room-8007 {
	top: 225px;
	left: 329px;
}
#room-8008 {
	top: 225px;
	left: 546px;
}
#room-8009 {
	top: 225px;
	left: 392px;
}
#room-8010 {
	top: 225px;
	left: 483px;
}
#room-8011 {
	top: 247px;
	left: 329px;
}
#room-8012 {
	top: 247px;
	left: 546px;
}
#room-8013 {
	top: 269px;
	left: 329px;
}
#room-8014 {
	top: 269px;
	left: 546px;
}
#room-8015 {
	top: 291px;
	left: 329px;
}
#room-8016 {
	top: 291px;
	left: 546px;
}
#room-8017 {
	top: 0;
	left: 327px;
}
#room-8018 {
	top: 313px;
	left: 546px;
}
#room-8019 {
	top: 291px;
	left: 392px;
}
#room-8020 {
	top: 313px;
	left: 483px;
}
#room-8021 {
	top: 313px;
	left: 329px;
}
#room-8022 {
	top: 335px;
	left: 546px;
}
#room-8023 {
	top: 313px;
	left: 392px;
}
#room-8024 {
	top: 335px;
	left: 483px;
}
#room-8025 {
	top: 335px;
	left: 329px;
}
#room-8026 {
	top: 357px;
	left: 546px;
}
#room-8027 {
	top: 335px;
	left: 392px;
}
#room-8028 {
	top: 357px;
	left: 483px;
}
#room-8029 {
	top: 357px;
	left: 329px;
}
#room-8030 {
	top: 379px;
	left: 546px;
}
#room-8031 {
	top: 357px;
	left: 392px;
}
#room-8032 {
	top: 379px;
	left: 483px;
}
#room-8033 {
	top: 379px;
	left: 329px;
}
#room-8034 {
	top: 401px;
	left: 546px;
}
#room-8035 {
	top: 379px;
	left: 392px;
}
#room-8036 {
	top: 401px;
	left: 483px;
}
#room-8037 {
	top: 401px;
	left: 329px;
}
#room-8038 {
	top: 423px;
	left: 546px;

}
#room-8039 {
	top: 401px;
	left: 392px;
}
#room-8040 {
	top: 423px;
	left: 483px;
}
#room-8041 {
	top: 423px;
	left: 329px;
}
#room-8042 {
	top: 445px;
	left: 546px;
}
#room-8043 {
	top: 423px;
	left: 392px;
}
#room-8044 {
	top: 445px;
	left: 483px;
}
#room-8045 {
	top: 445px;
	left: 329px;
}
#room-8046 {
	top: 467px;
	left: 546px;

}
#room-8047 {
	top: 445px;
	left: 392px;
}
#room-8048 {
	top: 467px;
	left: 483px;
}
#room-8049 {
	top: 467px;
	left: 329px;
}
#room-8050 {
	top: 489px;
	left: 546px;

}
#room-8051 {
	top: 467px;
	left: 392px;
}
#room-8052 {
	top: 489px;
	left: 483px;
}
#room-8053 {
	top: 489px;
	left: 329px;
}
#room-8054 {
	top: 511px;
	left: 546px;
}
#room-8055 {
	top: 489px;
	left: 392px;
}
#room-8056 {
	top: 511px;
	left: 483px;
}
#room-8057 {
	top: 511px;
	left: 329px;
}
#room-8058 {
	top: 533px;
	left: 546px;

}
#room-8059 {
	top: 511px;
	left: 392px;
}
#room-8060 {
	top: 533px;
	left: 483px;
}
#room-8061 {
	top: 533px;
	left: 329px;
}
#room-8062 {
	top: 555px;
	left: 546px;

}
#room-8063 {
	top: 533px;
	left: 392px;
}
#room-8064 {
	top: 555px;
	left: 483px;
}
#room-8065 {
	top: 555px;
	left: 329px;
}
#room-8066 {
	top: 577px;
	left: 546px;

}
#room-8067 {
	top: 555px;
	left: 392px;
}
#room-8068 {
	top: 577px;
	left: 483px;
	height: 3.2rem!important;
}
#room-8069 {
	top: 577px;
	left: 329px;
}
#room-8070 {
	top: 599px;
	left: 546px;

}
#room-8071 {
	top: 599px;
	left: 329px;
}




#room-8072 {
	top: 1047px;
	left: 546px;
}
#room-8073 {
	top: 1185px;
	left: 327px;
	height: 3.5rem;
}
#room-8074 {
	top: 1070px;
	left: 546px;
}
#room-8075 {
	top: 1220px;
	left: 327px;
	height: 3.4rem;
}
#room-8076 {
	top: 1093px;
	left: 546px;
}
#room-8078 {
	top: 1116px;
	left: 546px;
}
#room-8080 {
	top: 1139px;
	left: 546px;
}
#room-8082 {
	top: 1162px;
	left: 546px;
}
#room-8084 {
	top: 1185px;
	left: 546px;
}
#room-8086 {
	top: 1208px;
	left: 546px;
}
#room-8088 {
	top: 1231px;
	left: 546px;
}
