//Deck 5
#room-5001 {
	top: 614px;
	left: 327px;
}
#room-5002 {
	top: 614px;
	left: 561px;
}
#room-5003 {
	top: 637px;
	left: 327px;
}
#room-5004 {
	top: 637px;
	left: 561px;
}
#room-5005 {
	top: 660px;
	left: 327px;
}
#room-5006 {
	top: 660px;
	left: 561px;
}
#room-5007 {
	top: 683px;
	left: 327px;
}
#room-5008 {
	top: 683px;
	left: 561px;
}
#room-5009 {
	top: 706px;
	left: 327px;
}
#room-5010 {
	top: 706px;
	left: 561px;
}
#room-5011 {
	top: 729px;
	left: 327px;
}
#room-5012 {
	top: 729px;
	left: 561px;
}
#room-5013 {
	top: 752px;
	left: 327px;
}
#room-5014 {
	top: 729px;
	left: 501px;
	width: 5.2rem;
}
#room-5015 {
	top: 752px;
	left: 398px;
	width: 5.2rem;
}
#room-5016 {
	top: 752px;
	left: 561px;
}
#room-5018 {
	top: 752px;
	left: 501px;
	width: 5.2rem;
}
#room-5019 {
	top: 775px;
	left: 327px;
}
#room-5020 {
	top: 775px;
	left: 561px;
}
#room-5021 {
	top: 775px;
	left: 398px;
	width: 5.2rem;
}
#room-5022 {
	top: 775px;
	left: 501px;
	width: 5.2rem;
}
#room-5023 {
	top: 798px;
	left: 327px;
}
#room-5024 {
	top: 798px;
	left: 561px;
}
#room-5025 {
	top: 798px;
	left: 398px;
	width: 5.2rem;
}
#room-5026 {
	top: 798px;
	left: 501px;
	width: 5.2rem;
}
#room-5027 {
	top: 821px;
	left: 327px;
}
#room-5028 {
	top: 821px;
	left: 561px;
}
#room-5029 {
	top: 821px;
	left: 398px;
	width: 5.2rem;
}
#room-5030 {
	top: 821px;
	left: 501px;
	width: 5.2rem;
}
#room-5031 {
	top: 844px;
	left: 327px;
}
#room-5032 {
	top: 844px;
	left: 561px;
}
#room-5033 {
	top: 844px;
	left: 398px;
	width: 5.2rem;
}
#room-5034 {
	top: 844px;
	left: 501px;
	width: 5.2rem;
}
#room-5035 {
	top: 867px;
	left: 327px;
}
#room-5036 {
	top: 867px;
	left: 561px;
}
#room-5037 {
	top: 890px;
	left: 327px;
}
#room-5038 {
	top: 867px;
	left: 501px;
	width: 5.2rem;
}
#room-5039 {
	top: 890px;
	left: 398px;
	width: 5.2rem;
}
#room-5040 {
	top: 890px;
	left: 561px;
}
#room-5041 {
	top: 913px;
	left: 327px;
}
#room-5042 {
	top: 890px;
	left: 501px;
	width: 5.2rem;
}
#room-5043 {
	top: 913px;
	left: 398px;
	width: 5.2rem;
}
#room-5044 {
	top: 913px;
	left: 561px;
}
#room-5045 {
	top: 936px;
	left: 327px;
}
#room-5046 {
	top: 913px;
	left: 501px;
	width: 5.2rem;
}
#room-5047 {
	top: 959px;
	left: 327px;
}
#room-5048 {
	top: 936px;
	left: 561px;
}
#room-5049 {
	top: 959px;
	left: 398px;
	width: 5.2rem;
}
#room-5050 {
	top: 936px;
	left: 501px;
	width: 5.2rem;
}
#room-5051 {
	top: 982px;
	left: 327px;
}
#room-5052 {
	top: 959px;
	left: 561px;
}
#room-5053 {
	top: 1005px;
	left: 327px;
}
#room-5054 {
	top: 982px;
	left: 561px;
}
#room-5055 {
	top: 1028px;
	left: 327px;
}
#room-5056 {
	top: 1005px;
	left: 561px;
}
#room-5057 {
	top: 1051px;
	left: 327px;
}
#room-5058 {
	top: 1005px;
	left: 501px;
	width: 5.2rem;
}
#room-5059 {
	top: 1074px;
	left: 327px;
}
#room-5060 {
	top: 1028px;
	left: 561px;
}
#room-5061 {
	top: 1097px;
	left: 327px;
}
#room-5062 {
	top: 1028px;
	left: 501px;
	width: 5.2rem;
}
#room-5063 {
	top: 1120px;
	left: 327px;
}
#room-5064 {
	top: 1051px;
	left: 561px;
}
#room-5065 {
	top: 1143px;
	left: 327px;
}
#room-5066 {
	top: 1051px;
	left: 501px;
	width: 5.2rem;
}
#room-5067 {
	top: 1166px;
	left: 327px;
}
#room-5068 {
	top: 1074px;
	left: 561px;
}
#room-5069 {
	top: 1189px;
	left: 327px;
}
#room-5070 {
	top: 1074px;
	left: 501px;
	width: 5.2rem;
}
#room-5071 {
	top: 1212px;
	left: 327px;
}
#room-5072 {
	top: 1097px;
	left: 561px;
}
#room-5073 {
	top: 1235px;
	left: 327px;
	height: 3.5rem;
}
#room-5074 {
	top: 1120px;
	left: 561px;
}
#room-5075 {
	top: 1270px;
	left: 327px;
	height: 3.4rem;
}
#room-5076 {
	top: 1143px;
	left: 561px;
}
#room-5078 {
	top: 1166px;
	left: 561px;
}
#room-5080 {
	top: 1189px;
	left: 561px;
}
#room-5082 {
	top: 1212px;
	left: 561px;
}
#room-5084 {
	top: 1235px;
	left: 561px;
}
#room-5086 {
	top: 1258px;
	left: 561px;
}
#room-5088 {
	top: 1281px;
	left: 561px;
}
